.content-section {
    position: relative;
    height: 100vh;
    width: 100%;
    padding-top: 85px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.content-section p {
    margin-bottom: 10px;
    font-weight: 400;
}

.content-content {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px 50px 10px;
}

@media (min-width: 525px) {
    .content-content {
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media (min-width: 1300px) {
    .content-content {
        padding-right: 50px;
        padding-left: 50px;
    }
}

.section-one {
    color: var(--lighter);
    background-image: url("../media/images/section01Mobile.png");
    background-size: cover;
    background-position: center;
}

@media (min-width: 525px) {
    .section-one {
        background-image: url("../media/images/section01.png");
    }
}

.section-two {
    color: var(--lighter);
    background-image: url("../media/images/section02Mobile.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@media (min-width: 525px) {
    .section-two {
        background-image: url("../media/images/section02.png");
    }
}

.content-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 100%;
    font-size: 1.63rem;
    background-color: var(--darkTransparent);
    color: var(--lighter);
    padding: 20px;
    border-radius: var(--radius);
    box-shadow: -1px -1px 10px 0px rgba(0, 0, 0, 0.5);
}

/* *************************************************************** */

@media (min-width: 600px) {
    .content-text {
        font-size: 1.45rem;
    }
}

@media (min-width: 525px) {
    .section-two .content-content {
        align-items: flex-end;
    }

    .content-text {
        max-width: 500px;
    }
}

@media(min-width: 800px) {
    .content-text {
        max-width: 600px;
    }
}

@media(min-width: 1100px) {
    .content-section {
        padding-top: 100px;
    }

    .content-content {
        justify-content: center;
    }

    .content-text {
        max-width: 700px;
        padding: 30px;
        font-size: 1.6rem;
    }
}

@media(min-width: 1300px) {

    .content-text {
        max-width: 800px;
        font-size: 1.8rem;
        padding: 30px
    }
}

/* *************************************************************** */

.section-three {
    color: var(--lighter);
    background-image: url("../media/images/section03Mobile.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@media (min-width: 525px) {
    .section-three .content-content {
        align-items: flex-start;
    }

    .section-three {
        background-image: url("../media/images/section03.png");
    }
}


.section-four {
    color: var(--lighter);
    background-image: url("../media/images/section04Mobile.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@media (min-width: 525px) {
    .section-four .content-content {
        align-items: flex-end;
    }

    .section-four {
        background-image: url("../media/images/section04.png");
    }
}

.section-five {
    color: var(--lighter);
    background-image: url("../media/images/section05Mobile.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@media (min-width: 525px) {
    .section-five .content-content {
        align-items: flex-start;
    }

    .section-five {
        background-image: url("../media/images/section05.png");
    }
}